<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<ul class="breadcrumb">
						<li><%= link_to "HOME", root_path %></li>
						<li>MANAGEMENT</li>
						<li class="active">FACULTY LESSONS / PROJECTS</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div>
						<h1>Lessons / Projects</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
               	<div class="table-responsive">
               		<table class="stripe hover" id="lessonsTable">
               			<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Teacher</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @lessons.each do |item| %>
							<% teacher = @teachers.select{|x| x.id == item.teacher_id}.first %>
								<tr>
									<td><%= item.id %></td>
									<td><%= item.name %></td>
									<td><%= teacher ? teacher.name : nil %></td>
									<td style="text-align: right;">
										<a href="javascript:void(0);"><i class="fa fa-edit"></i></a>
										<%= link_to "<i class=\"fa fa-trash\"></i>".html_safe, admin_lesson_path(item), method: :delete, data: { confirm: 'Are you sure?' }, :style => "color:#9E9E9E" %>
									</td>
								</tr>
							<% end %>
						</tbody>
               		</table>
               	</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h4>Add lesson...</h4>
				<%= form_for @newLesson, :url => {:controller => "faculty_lessons", :action => "create"} do |f| %>
					<% teacher_options = @teachers.collect{|x| [x.name, x.id]} %>
					<div class="form-group">
						<div class="form-line">
							<%= f.text_field :name, id: :lesson_name, :class => "form-control", :placeholder => "Lesson name..." %>
						</div><br>
						<div class="form-line">
							<%= f.select :teacher_id, options_for_select(teacher_options), {:include_blank => "Select One"}, id: :lesson_teacher_id, :class => "form-control" %>
						</div><br>
							<%= f.submit :class =>"btn btn-primary btn-block" %>
					</div>
				<% end %>
			</div>
		</div>
	</section>
</div>
<script>
	$('#lessonsTable').DataTable({
		"columnDefs": [
    		{ "orderable": false, "targets": [0, 1, 2, 3] }
  		],
  		 "order": [ 0, 'asc'],
  		 "searching": false,
  		 "paging": false
	});
</script>