<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="span12">
								<ul class="breadcrumb">
									<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
									<li>Management <span class="divider">/</span></li>
									<li class="active">Budget</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="span12">
								<h2>Budget Status</h2>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					<div class="alert alert-success">Master, your total budget is: <strong><%= @totalBudget %> TL</strong></div>
				</div>

				<div class="container">
					<div class="row">
						<%= form_for @newBudget, :url => {:controller => "admin", :action => "addbudget"} do |f| %>
							<div class="span3 control-group">
								<%= f.text_field :amount, :placeholder => "Amount in integer" %>
							</div>
							<div class="span3 control-group">
								<%= f.select :budget_type, [['Income','income'],['Expense','outcome']] %>
							</div>
							<div class="span3 control-group">
								<%= f.text_field :reason, :placeholder => "Reason for this inquery" %>
							</div>
							<div class="span3 control-group">
								<%= f.submit "Add", :class => "btn" %>
							</div>
						<% end %>
					</div>
				</div>

				<div class="container">

					<table class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Amount</th>
								<th>Reason</th>
								<th>User</th>
								<th>Issue Date</th>
							</tr>
						</thead>
						<tbody>
							<% @allBudgets.each do |item| %>
								
								<tr>
									<td><%= item.id %></td>
									<% if item.budget_type == "income" %>
										<td><span class="label label-success">+<%= item.amount %> TL</span></td>
									<% else %>
										<td><span class="label label-important">-<%= item.amount %> TL</span></td>
									<% end %>
									<td><%= item.reason %></td>
									<td><%= Users.find(item.user_id).name %></td>
									
									<td><%= item.created_at.strftime("%B %d, %Y") %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
			
				</div>

			</div>