<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="span12">
								<ul class="breadcrumb">
									<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
									<li>Management <span class="divider">/</span></li>
									<li class="active">Logs</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="span12">
								<h2>Logs, bitch</h2>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					<div class="row">
						
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="span9">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>User ID</th>
										<th>Room </th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>isCanceled</th>
									</tr>
								</thead>
								<tbody>
									<tr>
									<% @logs.each do |item| %>
									<td><%= Users.find(item.user_id).name %></td>
									<td><%= Rooms.find(item.room_id).name %></td>
									<td><%= item.start_date.strftime("%a, %B %d - %I:%M %p") %></td>
									<td><%= item.end_date.strftime("%a, %I:%M %p") %></td>
									<td><%= item.isCanceled %></td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
					
					
				</div>

			</div>