<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="span12">
								<ul class="breadcrumb">
									<li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
									<li>Management <span class="divider">/</span></li>
									<li class="active">Muzikus Members</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="span12">
								<h2>Website Members</h2>
							</div>
						</div>
					</div>
				</section>
				<div class="container">
					<div class="row">
						<div class="span12">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>UID</th>
										<th>Name</th>
										<th>E-Mail</th>
										<th>Member Since</th>
									</tr>
								</thead>
								<tbody>
									<% @allUsers.each do |item| %>
											<tr>
												<td><%= item.uid%></td>
												<td><%= item.name %></td>
												<td><%= item.sabancimail %></td>
												<td><%= item.created_at %></td>
											</tr>
									<% end %>
								</tbody>
							</table>
						</div>

					</div>


				</div>

			</div>
