<div role="main" class="main">

				<section class="page-top custom-product">
					<div class="container">
						<div class="row">
							<div class="span12">
								<h1>Introducing the new <strong>Scout</strong>.</h1>
								<p class="lead">A place where you can meet new musicians.</p>
							</div>
							
						</div>
					</div>
				</section>

				<div class="container">

					<h2>Scout <strong>Members</strong></h2>

					<div class="row">
						<div class="span12">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Name</th>
										<th>Instrument #1</th>
										<th>Inst. #1 Skill</th>
										<th>Instrument #2 </th>
										<th>Inst. #2 Skill</th>
										<th>Vocal Exp.</th>
										<th>Stage Exp.</th>
										<th>Groups</th>
										<th>Listens</th>
									</tr>
								</thead>
								<tbody>
									<% @allScout.each do |item| %>
									<tr>
										<td><%= link_to "#{item.user.name}", "mailto:#{item.user.sabancimail}" %></td>
										<td><%= item.BirinciEns %></td>
										<td><%= item.BirinciSev %></td>
										<td><%= item.IkinciEns %></td>
										<td><%= item.IkinciSev %></td>
										<td><%= item.VokalYetenek %></td>
										<td><%= item.SahneTecrubesi %></td>
										<td><a href="#" class="tooltip-test" data-toggle="tooltip" title="<%= item.UyeGruplar %>" >Show</a></td>
										<td><a href="#" class="tooltip-test" data-toggle="tooltip" title="<%= item.SevdiginGruplar %>" >Show</a></td>
									</tr>
									<% end %>
								</tbody>
							</table>
							
							<%= paginate @allScout %>
						</div>
					</div>

				</div>

			</div>