<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<ul class="breadcrumb">
						<li><%= link_to "HOME", root_path %></li>
						<li>MANAGEMENT</li>
						<li class="active">USERS</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div>
						<h1>All Users</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="card">
	                <div class="body">
	               		<table class="hover stripe" id="usersTable">
	               			<thead>
								<tr>
									<th>Name</th>
									<th>Email</th>
									<th>Member?</th>
									<th>YK?</th>
									<th>MYK?</th>
									<th>Drum Lesson?</th>
									<th>Hangar Workshop?</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @users.each do |item| %>
									<tr>
										<td><%= item.name %></td>
										<td>@<%= item.email.split('@')[0] %></td>
										<td><%= item.is_member ? "Yes" : "No" %></td>
										<td><%= item.is_yk ? "Yes" : "No" %></td>
										<td><%= item.is_myk ? "Yes" : "No" %></td>
										<td><%= item.is_drum ? "Yes" : "No" %></td>
										<td><%= item.is_workshop ? "Yes" : "No" %></td>
										<td>
											<a href="#" class="edit_user"><i class="fa fa-edit"></i></a>
											<% if item.is_member %>
											<a href="/scout/profile/<%=item.email.split('@')[0]%>"><i class="fa fa-user"></i></a></a>
											<%= link_to "<i class=\"fa fa-ban\"></i>".html_safe, admin_user_path(item.id), method: :delete, data: { confirm: "Do you want to remove #{item.name.nil? ? 'this user' : item.name.split(' ')[0]}\'s membership?" }%>
											<% end %>
										</td>
									</tr>
								<% end %>
							</tbody>
	               		</table>
		            </div>				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h4>Add/edit member?</h4><br>
				<div class="row">
					<%= form_for @newMember, :url => {:controller => "users", :action => "create"} do |f| %>
							<div class="col-md-12" style="padding: 0;">
								<div class="input-group">
									<div class="form-line">
										<%= f.text_field :email, id: :user_email, :placeholder => "Email Address", :class => "form-control align-center" %>
									</div>
									<span class="input-group-addon">@sabanciuniv.edu</span>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<%= f.check_box :is_yk, id: :user_is_yk, :class => "chk-col-yellow" %>
								<label for="user_is_yk">Is YK?</label>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
								<%= f.check_box :is_myk, id: :user_is_myk, :class => "chk-col-yellow" %>
								<label for="user_is_myk">Is MYK?</label>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
								<%= f.check_box :is_workshop, id: :user_is_workshop, :class => "chk-col-yellow" %>
								<label for="user_is_workshop">Hangar Workshop?</label>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
								<%= f.check_box :is_drum, id: :user_is_drum, :class => "chk-col-yellow", :style => "border: 2px solid white"%>
								<label for="user_is_drum">Drum Lesson?</label>
							</div>	
							<%= f.hidden_field :is_member, :value => true %>
							<%= f.submit "SUBMIT", :class => "btn btn-primary btn-block" %>
					<% end %>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
	$('#usersTable').DataTable({
		'scrollX': true,
		"columnDefs": [
    		{ "orderable": false, "targets": [0, 7] }
  		],
  		 "order": [ 1, 'asc'],
  		 "pageLength": 25
	});
	$('.edit_user').click(function (e) {
		e.preventDefault();
	});
</script>