<div role="main" class="main">
	<!-- start: Breadcrumb-->
	<section class="page-header page-header-modern bg-color-dark-scale-5 page-header-md">
		<div class="container">
			<div class="row">

				<div class="col-md-12 align-self-center p-static order-2 text-left">

					<h1 class="text-light font-weight-bold text-8">Alfonso</h1>
					<span class="sub-title text-dark-scale-1">Here is the list of all <strong>reservations.</strong> Feel free to make yours. Today.</span>

				</div>

				<div class="col-md-12 align-self-center order-1">

					<ul class="breadcrumb d-block text-left">
						<li><a href="/">Home</a></li>
						<li>Alfonso</li>
						<li>Reserve</li>
					</ul>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- end: Breadcrumb-->
	

		<div id="reservation_result" class="alert" role="alert"  style="display: none;">
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-3 order-lg-2">
	            <div class="card" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.row', 'padding': {'top': 110}}">
					<div class="card-header">
						<h4 class="card-title">New Reservation?</h4>
						<div class="card-subtitle"><a data-toggle="modal" data-target="#largeModal" href="">(View Room Schedules)</a></div>
						<!-- Room Schedule Modal-->
						<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-md">
								<div class="modal-content">
									<div class="modal-body justify-content-center">
										<ul class="list list-icons">
											<% @tmpRooms.each do |room| %>
												<li>
													<i class="fas fa-door-open text-light"></i><%= room.name %>
													<ul class="list list-icons">
														<% if room.schedule.Monday.any? %>
															<li>
																<i class="fas fa-calendar-week text-light"></i>Monday
																<ul class="list list-icons">
																	<% room.schedule.Monday.each do |schedule| %>
																		<li><i class="fas fa-chevron-right"></i><%= "#{@lessons.select{|x| x.id == schedule.faculty_lesson_id}.first.name}, #{schedule.start_at.to_datetime.strftime("%H:%M")} - #{schedule.end_at.to_datetime.strftime("%H:%M")}" %></li>
																	<% end %>
																</ul>
															</li>
														<% end %>
														<% if room.schedule.Tuesday.any? %>
															<li>
																<i class="fas fa-calendar-week text-light"></i>Tuesday
																<ul class="list list-icons">
																	<% room.schedule.Tuesday.each do |schedule| %>
																		<li><i class="fas fa-chevron-right"></i><%= "#{@lessons.select{|x| x.id == schedule.faculty_lesson_id}.first.name}, #{schedule.start_at.to_datetime.strftime("%H:%M")} - #{schedule.end_at.to_datetime.strftime("%H:%M")}" %></li>
																	<% end %>
																</ul>
															</li>
														<% end %>
														<% if room.schedule.Wednesday.any? %>
															<li>
																<i class="fas fa-calendar-week text-light"></i>Wednesday
																<ul class="list list-icons">
																	<% room.schedule.Wednesday.each do |schedule| %>
																		<li><i class="fas fa-chevron-right"></i><%= "#{@lessons.select{|x| x.id == schedule.faculty_lesson_id}.first.name}, #{schedule.start_at.to_datetime.strftime("%H:%M")} - #{schedule.end_at.to_datetime.strftime("%H:%M")}" %></li>
																	<% end %>
																</ul>
															</li>
														<% end %>
														<% if room.schedule.Thursday.any? %>
															<li>
																<i class="fas fa-calendar-week text-light"></i>Thursday
																<ul class="list list-icons">
																	<% room.schedule.Thursday.each do |schedule| %>
																		<li><i class="fas fa-chevron-right"></i><%= "#{@lessons.select{|x| x.id == schedule.faculty_lesson_id}.first.name}, #{schedule.start_at.to_datetime.strftime("%H:%M")} - #{schedule.end_at.to_datetime.strftime("%H:%M")}" %></li>
																	<% end %>
																</ul>
															</li>
														<% end %>
														<% if room.schedule.Friday.any? %>
															<li>
																<i class="fas fa-calendar-week text-light"></i>Friday
																<ul class="list list-icons">
																	<% room.schedule.Friday.each do |schedule| %>
																		<li><i class="fas fa-chevron-right"></i><%= "#{@lessons.select{|x| x.id == schedule.faculty_lesson_id}.first.name}, #{schedule.start_at.to_datetime.strftime("%H:%M")} - #{schedule.end_at.to_datetime.strftime("%H:%M")}" %></li>
																	<% end %>
																</ul>
															</li>
														<% end %>
														<% if room.schedule.Saturday.any? %>
															<li>
																<i class="fas fa-calendar-week text-light"></i>Saturday
																<ul class="list list-icons">
																	<% room.schedule.Saturday.each do |schedule| %>
																		<li><i class="fas fa-chevron-right"></i><%= "#{@lessons.select{|x| x.id == schedule.faculty_lesson_id}.first.name}, #{schedule.start_at.to_datetime.strftime("%H:%M")} - #{schedule.end_at.to_datetime.strftime("%H:%M")}" %></li>
																	<% end %>
																</ul>
															</li>
														<% end %>
														<% if room.schedule.Sunday.any? %>
															<li>
																<i class="fas fa-calendar-week text-light"></i>Sunday
																<ul class="list list-icons">
																	<% room.schedule.Sunday.each do |schedule| %>
																		<li><i class="fas fa-chevron-right"></i><%= "#{@lessons.select{|x| x.id == schedule.faculty_lesson_id}.first.name}, #{schedule.start_at.to_datetime.strftime("%H:%M")} - #{schedule.end_at.to_datetime.strftime("%H:%M")}" %></li>
																	<% end %>
																</ul>
															</li>
														<% end %>
														<% if ((room.schedule.Monday.count + room.schedule.Tuesday.count + room.schedule.Wednesday.count + room.schedule.Thursday.count + room.schedule.Friday.count + room.schedule.Saturday.count + room.schedule.Sunday.count) == 0) %>
															<li><i class="fas fa-chevron-right"></i>There is nothing to show...</li>
														<% end %>
													</ul>
												</li>
											<% end %>
										</ul>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
						<!-- /Room Schedule Modal -->
					</div>
					<div class="card-body">
						<% room_options = @rooms.collect{|x| [x.name, x.id]} %>
						<%= form_for @newReservation, :url => {controller: "reservations", action: "create"}, data: {bind: "with: reservationForm, submit: submitForm"} do |f| %>
							<select name="reservation[room_id]" class="form-control text-light" data-bind="value: room_id" required>
								<option value="">Select a room</option>
								<% @rooms.each do |room| %>
									<option value="<%= room.id %>" <%= (!current_user.is_myk and ((!current_user.is_workshop and room.id == @hangar_id) or (!current_user.is_drum and room.id == @drum_id))) ? "disabled" : "" %>><%= room.name %></option>
								<% end %>
							</select>
							
							<br>
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<label>Start At:</label>
									<%= f.text_field :start_at, id: :start_date, :class => 'form-control text-light', data: {bind: "timePicker: start_at"} %><br>
								</div>					
								<div class="col-lg-6 col-md-6">
									<label>End At:</label>
									<%= f.text_field :end_at, id: :end_date, :class => "form-control text-light", data: {bind: "timePicker: end_at"} %><br>
								</div>					
							</div>
							<div class="row">
								<div class="col-sm-12">
									<%= f.text_area :detail, id: :detail, placeholder: "You must enter the other people's names, who you'll share the room with.", :class=> 'form-control text-light', data: {bind: "textInput: detail"} %> <br>
								</div>
							</div>

							<%= f.hidden_field :is_canceled, id: :is_canceled, :value => false %>
							<%= f.hidden_field :user_id, id: :user_id, :value => current_user.id %>
							<div class="form-group">
								<%= f.submit "RESERVE!", :class =>"btn btn-primary btn-block", id: :submit_reservation, data: {bind: "enable: !$parent.showSpinner()"}%>
							</div>
						<% end %>

						<div data-bind="visible: reservationForm.room_id() != ''">
							<h4 class="card-title mb-1 text-4 font-weight-bold">May I present you the Studio Officer?</h4>
							<p data-bind="html: managerNames(<%= @managers %>)"></p>
							<p data-bind="html: managerEmails(<%= @managers %>)"></p>
							<p data-bind="html: managerNums(<%= @managers %>)"></p>
						</div>
					</div>
				</div>
        	</div>
			<div class="col-lg-5 order-lg-1 scroll">
				<div class="d-flex justify-content-center">
					<div class="spinner-border" role="status" data-bind="visible: showSpinner">
						<span class="sr-only">Loading...</span>
					</div>
				</div>
				<table class="table table-hover table-striped" data-bind="attr: {hidden: showSpinner() ? true : (filteredResult().length > 0 ? null : true) }" hidden>
					<thead>
						<tr class="text-light">
							<th>Name</th>
							<th>Room</th>
							<th class="text-center">Date</th>
							<th class="text-center">Day</th>
							<th class="text-center">Time</th>
							<th class="text-center">Actions</th>
						</tr>
					</thead>
					<tbody data-bind="foreach: filteredResult">
							<tr class="text-light">
								<td data-bind="text: user.name"></td>
								<td data-bind="text: room_name"></td>
								<td class="text-center" data-bind="text: date"></td>
								<td class="text-center" data-bind="text: weekday"></td>
								<td class="text-center" data-bind="text: time"></td>
								<td class="text-center">
									<!-- ko if: user_id == <%= current_user.id %> || $parent.isManager($data.managers, <%= current_user.id %>) -->
									<button data-bind="click: $parent.deleteReservation" class="btn btn-sm btn-danger">Delete</button>
									<!-- /ko -->
									<!-- ko if: (user_id == <%= current_user.id %> || $parent.isManager($data.managers, <%= current_user.id %>)) && detail.length -->
									<button data-bind="attr: {'data-tooltip' : detail}" class="btn btn-sm btn-info"><i class="fas fa-question"></i></button>
									<!-- /ko -->
								</td>
							</tr>
					</tbody>
				</table>                    		
				<img data-bind="attr: {hidden: showSpinner() ? true : (filteredResult().length == 0 ? null : true) }" hidden style="display: block; margin-left: auto; margin-right: auto;" src="/idontalways.png" />
				
			</div>
		</div>						
</div>