<p id="notice"><%= notice %></p>

<h1>Listing Subjects</h1>

<table style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
      <th>Post Count</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td style="text-align:center"><strong><%=link_to subject.title,subject %></strong></td>
        <td colspan="3"></th>
        <td style="text-align:center"><%=subject.posts.count%></td>
        <% if current_user && current_user.sabancimail != nil %>
          <% if Muzikususers.where("email = ?", current_user.sabancimail).count > 0 %>
            <% if (Muzikususers.where("email = ?", current_user.sabancimail).first.isblogger == true) %>

        <td><%= link_to 'Edit', edit_subject_path(subject),:class=>"btn btn-info",:role=>"button" %></td>
        <td><%= link_to 'Destroy', subject, :class=>"btn btn-danger",:role=>"button", method: :delete, data: { confirm: 'Are you sure?' } %></td>

            <%end %>
            <%end %>
            <%end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.sabancimail != nil %>
  <% if Muzikususers.where("email = ?", current_user.sabancimail).count > 0 %>
    <% if (Muzikususers.where("email = ?", current_user.sabancimail).first.isblogger == true) %>
<%= link_to 'New Subject', new_subject_path,:class=>"btn btn-success",:role=>"button" %>
    <%end%>
  <%end%>
<%end%>
