<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name,:placeholder=>"Full Name" %>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :instrument %>
    <%= f.text_field :instrument %>
  </div>
  
  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>
  
  
  <div class="field">
    <%= f.label :Website %>
    <%= f.text_area :website %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
