<div role="main" class="main">
	<section class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<ul class="breadcrumb">
						<li><%= link_to "HOME", root_path %></li>
						<li>MANAGEMENT</li>
						<li class="active">ROOMS</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div>
						<h1>Rooms</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container">
			<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                <div class="body">
	               		<table class="stripe hover" id="roomsTable">
	               			<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Manager</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @rooms.each do |item| %>
									<%	managers = Manager.where(room_id: item.id)
										names = []
										managers.each do |m|
											user = User.find(m.user_id)
											names << user.email
										end %>
									<tr>
										<td><%= item.id %></td>
										<td><%= item.name %></td>
										<td><%= names.count == 0 ? "-" : names.join(" | ") %></td>
										<td style="text-align: right;">
											<%= link_to "<i class=\"fa fa-calendar\"></i>".html_safe, admin_room_path(item), :style => "color:#9E9E9E"%>
											<%= link_to "<i class=\"fa fa-trash\"></i>".html_safe, admin_room_path(item.id), method: :delete, data: { confirm: 'Are you sure?' }, :style => "color:#9E9E9E"%>
										</td>
									</tr>
								<% end %>
							</tbody>
	               		</table>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="body">
	                <h4>Add room?</h4>
					<%= form_for @newRoom, :url => {:controller => "rooms", :action => "create"} do |f| %>
					<div class="form-group">
						<div class="form-line">
							<%= f.text_field :name, id: :room_name, :placeholder => "Room Name", :class => "form-control"%>
						</div><br>
						<%= f.submit :class => "btn btn-primary btn-block" %>
					</div>
					<% end %>
                </div>
                <%= link_to "Edit managers...", admin_managers_path %>
	        </div>
	    </div>
	</section>	
</div>

<script>
	$('#roomsTable').DataTable({
		"columnDefs": [
    		{ "orderable": false, "targets": [0, 1, 2, 3] }
  		],
  		 "order": [ 0, 'asc'],
  		 "searching": false,
  		 "paging": false
	});
</script>