<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=f.hidden_field :subject_id, :value=>params[:subject_id]%>
    <%=f.hidden_field :user_id, :value=>current_user.id %>
    <%= f.label :title %>
    <%= f.text_field :title,:placeholder=>"enter Title" %>
  </div>
  <div class="field">
    <%= f.label :subject_Name %>
    <%= f.text_field :subject_title,:value=>params[:subject_title],:disabled=>"disabled" %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_name, :value=>current_user.name,:disabled=>"disabled" %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.cktext_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
