<p id="notice"><%= notice %></p>


<p>
  <strong><%= @post.title %></strong>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.user.name %>
</p>

<p>
  <%= raw @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post,:subject_id=>@post.subject_id) %> |
<%= link_to 'Back', "/subjects/#{@post.subject_id}" %>
