<nav class="bg-white">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center sm:items-stretch justify-start">
        <a href="/" class="flex-shrink-0 flex items-center">
          <img alt="Muzikus" class="h-8 w-auto block" src="/img/logo.png">
        </a>
        <div class="ml-6">
          <div class="flex space-x-4">
            <%=
              link_to "Home",
              root_path,
              class: "px-3 py-2 rounded-md text-sm font-medium #{(controller_name == "main" and action_name == "index") ? "bg-gray-100 text-gray-900 hover:text-gray-900" : "text-gray-900 hover:bg-gray-50 hover:text-gray-900"}"
            %>

            <%=
              link_to "Projects",
              projects_path,
              class: "hidden sm:block px-3 py-2 rounded-md text-sm font-medium #{(controller_name == "main" and action_name == "projects") ? "bg-gray-100 text-gray-900 hover:text-gray-900" : "text-gray-900 hover:bg-gray-50 hover:text-gray-900"}"
            %>

            <%=
              link_to "Faculty",
              teachers_path,
              class: "hidden sm:block px-3 py-2 rounded-md text-sm font-medium #{(controller_name == "teachers" and action_name == "index") ? "bg-gray-100 text-gray-900 hover:text-gray-900" : "text-gray-900 hover:bg-gray-50 hover:text-gray-900"}"
            %>

            <%=
              link_to "Contact",
              contactus_path,
              class: "px-3 py-2 rounded-md text-sm font-medium #{(controller_name == "main" and action_name == "contactus") ? "bg-gray-100 text-gray-900 hover:text-gray-900" : "text-gray-900 hover:bg-gray-50 hover:text-gray-900"}"
            %>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="ml-3 relative">
          <% if current_user %>
            <a class="text-gray-700 hover:bg-gray-50 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium" href="/sign_out">Sign Out</a>
          <% else %>
            <%= link_to 'Sign In', '/auth/google_oauth2', method: :post, class: 'text-gray-900 hover:bg-gray-50 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
