<div role="main" class="main">
	<header class="page-header">
		<h2>Users</h2>

		<!-- start: Breadcrumb area -->
		<div class="right-wrapper text-right">
			<ol class="breadcrumbs" style="margin-right: 50px;">
				<li>
					<a href="/">
						<i class="fas fa-home"></i>
					</a>
				</li>
				<li><span><a href="/admin">Admin</a></span></li>
				<li><span>Users</span></li>
				<li><span>Members</span></li>
			</ol>

			
		</div>
		<!-- end: Breadcrumb area -->
		
	</header>
	<div class="row">
		<div class="col-12">
			<section class=" card card-featured card-featured-info mb-5" style="<%= @activeSearch ? "" : "display: none;"%>" id="searchArea">
				<header class="card-header d-flex justify-content-between">
					<h2 class="card-title">Filter Results</h2>
					<div class="card-actions">
						<a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
					</div>
				</header>
				<div class="card-body scroll">
					<form action="<%= admin_members_path %>">
						<div class="row">
							<div class="form-group col-md-8">
								<input name="fullname" value="<%= @filterFullname %>" placeholder="Search by name or email..." class="form-control"/>
							</div>
							<div class="form-group col-md-4">
								<select name="memberRole" class="form-control">
									<option value="">Select one...</option>
									<option value="0" <%= @memberRole == 0 ? "selected" : "" %>>None</option>
									<option value="1" <%= @memberRole == 1 ? "selected" : "" %>>YK</option>
									<option value="2" <%= @memberRole == 2 ? "selected" : "" %>>MYK</option>
								</select>
							</div>
						</div>
						<div class="d-flex flex-row justify-content-between">
						<a class="btn btn-warning pull-right mt-3" href="<%= admin_members_path %>">Clear Filter</a>
						<input type="submit" class="btn btn-primary pull-right mt-3" value="Seacrh"/>
						</div>
					</form>
				</div>
			</section>
		</div>
		<div class="col-12">
			<section class=" card card-featured card-featured-info">
				<header class="card-header d-flex justify-content-between">
					<h2 class="card-title">Members</h2>
                    <div >
                        <a href="#modalForm" class="modal-with-form btn btn-sm btn-info mr-2">New Member</a>
                        <button id="openSearch" class="btn btn-sm btn-primary"><i class="fas fa-search"></i></button>
                    </div>
				</header>
				<div class="card-body scroll">
					<table class="table table-hover table-striped" id="usersTable">
						<thead>
							<tr class="text-light">
								<th>#</th>
								<th>Name</th>
								<th>Email</th>
								<th>Role</th>
								<th>Registration Date</th>
								<th style="width: 200px;">Actions</th>
							</tr>
						</thead>
						<tbody>
							<% ii = (@currentPage - 1) * @pageCounter + 1 %>
							<% @users.each do |item| %>
								<tr class="text-light">
									<td><%= ii %></td>
									<td><%= item.name %></td>
									<td><%= item.email.split('@')[0] %></td>
									<td><%= item.is_myk ? "MYK" : (item.is_yk ? "YK" : "-") %></td>
									<td><%= item.created_at.strftime("%d/%m/%Y") %></td>
									<td>
										<a href="<%= admin_user_path(item) %>" class="btn btn-sm btn-warning mr-1"><i class="fas fa-eye"></i> Details</a>
										<button onclick="Delete(this)" class="btn btn-sm btn-danger" data-delete-action="<%= admin_user_path(item) %>"><i class="fas fa-trash"></i> Delete</button>
									</td>
								</tr>
							<% ii = ii + 1
							end %>
							
							<% if not @users.any? %>
								<tr>
                                    <td colspan="6" class="text-center text-light">There is nothing to show...</td>
                                </tr>
							<% end %>

						</tbody>
					</table>
				</div>
                <% if @pageCount > 1 %>
				<div class="card-footer pt-1 pb-1 text-center">
					<p>
						<div class="btn-group flex-wrap">
							<%if @currentPage > 1 %>
								<a href="<%= admin_members_path({page: @currentPage - 1, fullname: @filterFullname, memberRole: @memberRole}) %>" class="btn btn-primary border-dark"><i class="fas fa-chevron-left"></i></a>
							<% end %>
							
							<% if @currentPage > 4 %>
								<a href="<%= admin_members_path({page: 1, fullname: @filterFullname, memberRole: @memberRole}) %>" class="btn btn-primary border-dark">1</a>
							<% end %>
							
							<% i = @currentPage - 3 
							while i <= @currentPage - 1
								if i > 0 %>
									<a href="<%= admin_members_path({page: i, fullname: @filterFullname, memberRole: @memberRole}) %>" class="btn btn-primary border-dark"><%= i %></a>
							<%	end
								i = i + 1
							end %>

							<a class="btn btn-default"><%= @currentPage %></a>

							<% i = @currentPage +  1 
							while i <= @currentPage + 3 
								if i <= @pageCount %>
								<a href="<%= admin_members_path({page: i, fullname: @filterFullname, memberRole: @memberRole}) %>" class="btn btn-primary border-dark"><%= i %></a>
							<%	end
								i = i + 1
							end %>

							<% if ((@pageCount - @currentPage) >= 4) %>
								<a href="<%= admin_members_path({page: @pageCount, fullname: @filterFullname, memberRole: @memberRole}) %>" class="btn btn-primary border-dark"><%= @pageCount %></a>
							<% end %>

							<% if @currentPage < @pageCount %>
								<a href="<%= admin_members_path({page: @currentPage + 1, fullname: @filterFullname, memberRole: @memberRole}) %>" class="btn btn-primary border-dark"><i class="fas fa-chevron-right"></i></a>
							<% end %>
						</div>
					</p>
				</div>			
                <% end %>
			</section>
		</div>
	</div>
</div>

<!-- Modal Form -->
<div id="modalForm" class="modal-block modal-block-primary mfp-hide">
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">Add New Member</h2>
        </header>
		<%= form_for [:admin, @newMember] do |f| %>
			<div class="card-body">
				<div class="form-group mb-4">
					<label>Email</label>
					<div class="input-group">
						<input name="user[email]" type="text" class="form-control" id="form-email" placeholder="Enter new member's Sabanci mail..." required>
						<span class="input-group-append">
							<span class="input-group-text">@sabanciuniv.edu</span>
						</span>
					</div>
				</div>
				<div class="form-group row pl-3 pr-3">
					<div class="col-sm-6 col-md-3">
						<div class="checkbox">
							<label>
								<input name="user[is_myk]" type="checkbox" id="form-myk" data-bind="checked: is_myk">
								MYK
							</label>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="checkbox">
							<label>
								<input name="user[is_yk]" type="checkbox" id="form-yk" data-bind="checked: is_yk">
								YK
							</label>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="checkbox">
							<label>
								<input name="user[is_drum]" type="checkbox" id="form-drum" data-bind="checked: is_drum">
								Drum
							</label>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="checkbox">
							<label>
								<input name="user[is_workshop]" type="checkbox" id="form-workshop" data-bind="checked: is_workshop">
								Workshop
							</label>
						</div>
					</div>
				</div>
			</div>
			<footer class="card-footer">
				<div class="row">
					<div class="col-md-12 text-right">
						<input type="submit" class="btn btn-primary"/>
						<button class="btn btn-default modal-dismiss">Cancel</button>
					</div>
				</div>
			</footer>
		<% end %>
    </section>
</div>